# Evaluate the Ad Budget Dataset of XYZ Firm

In [1]:
#Import the required libraries
import pandas as pd

In [5]:
#Import the advertising dataset
df_ad_dataset = pd.read_csv('C:\\Users\\HP\\OneDrive\\Desktop\\Advertising Budget and Sales.csv',index_col = 0)

In [6]:
#View the initial few records of the dataset
df_ad_dataset.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [7]:
#View the initial few records of the dataset
df_ad_dataset.size

800

In [8]:
#Check the number of observations (rows) and attributes (columns) in the dataset
df_ad_dataset.shape

(200, 4)

In [9]:
#View the names of each of the attributes
df_ad_dataset.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

In [11]:
#Create a feature object from the columns
X_feature = df_ad_dataset[['TV Ad Budget ($)','Radio Ad Budget ($)','Newspaper Ad Budget ($)']]

In [13]:
#View the feature object
X_feature.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1             230.1                 37.8                     69.2
2              44.5                 39.3                     45.1
3              17.2                 45.9                     69.3
4             151.5                 41.3                     58.5
5             180.8                 10.8                     58.4

In [12]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
Y_target = df_ad_dataset['Sales ($)']

In [14]:
#View the target object
Y_target.head()

1    22.1
2    10.4
3     9.3
4    18.5
5    12.9
Name: Sales ($), dtype: float64

In [15]:
#Verify if all the observations have been captured in the feature object
X_feature.shape

(200, 3)

In [16]:
#Verify if all the observations have been captured in the target object
Y_target.shape

(200,)

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
X_train,X_test,Y_train,Y_test = train_test_split(X_feature,Y_target,random_state = 1)

In [20]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(150, 3)
(50, 3)
(150,)
(50,)

In [21]:
from sklearn.linear_model import LinearRegression

In [24]:
#Create a linear regression model
linreg = LinearRegression()
linreg.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [25]:
#Print the intercept and coefficients 
print(linreg.intercept_)
print(linreg.coef_)

2.8769666223179318
[0.04656457 0.17915812 0.00345046]

In [28]:
#Predict the outcome for the testing dataset
y_pred = linreg.predict(X_test)
y_pred

array([21.70910292, 16.41055243,  7.60955058, 17.80769552, 18.6146359 ,
       23.83573998, 16.32488681, 13.43225536,  9.17173403, 17.333853  ,
       14.44479482,  9.83511973, 17.18797614, 16.73086831, 15.05529391,
       15.61434433, 12.42541574, 17.17716376, 11.08827566, 18.00537501,
        9.28438889, 12.98458458,  8.79950614, 10.42382499, 11.3846456 ,
       14.98082512,  9.78853268, 19.39643187, 18.18099936, 17.12807566,
       21.54670213, 14.69809481, 16.24641438, 12.32114579, 19.92422501,
       15.32498602, 13.88726522, 10.03162255, 20.93105915,  7.44936831,
        3.64695761,  7.22020178,  5.9962782 , 18.43381853,  8.39408045,
       14.08371047, 15.02195699, 20.35836418, 20.57036347, 19.60636679])

In [29]:
#Import required libraries for calculating MSE (mean square error)
from sklearn import metrics
import numpy as np

In [30]:
#Calculate the MSE
print(np.sqrt(metrics.mean_squared_error(Y_test,y_pred)))

1.404651423032895