In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [9]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength column
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [10]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [11]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [16]:
n_cols = predictors_norm.shape[1] # number of predictors

In [13]:
import keras

2022-06-30 14:50:40.092107: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-06-30 14:50:40.092174: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [23]:
from keras.models import Sequential
from keras.layers import Dense

In [24]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [25]:
# build the model
model = regression_model()

2022-06-30 15:03:32.251794: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2022-06-30 15:03:32.251830: W tensorflow/stream_executor/cuda/cuda_driver.cc:269] failed call to cuInit: UNKNOWN ERROR (303)
2022-06-30 15:03:32.251843: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (ihubkbhaskar-Vostro-3681): /proc/driver/nvidia/version does not exist
2022-06-30 15:03:32.252004: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [26]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Epoch 1/100
23/23 - 1s - loss: 1645.5991 - val_loss: 1145.0836 - 816ms/epoch - 35ms/step
Epoch 2/100
23/23 - 0s - loss: 1511.5376 - val_loss: 1017.5191 - 30ms/epoch - 1ms/step
Epoch 3/100
23/23 - 0s - loss: 1297.5135 - val_loss: 822.0739 - 30ms/epoch - 1ms/step
Epoch 4/100
23/23 - 0s - loss: 982.3861 - val_loss: 572.9353 - 31ms/epoch - 1ms/step
Epoch 5/100
23/23 - 0s - loss: 630.4229 - val_loss: 336.5438 - 30ms/epoch - 1ms/step
Epoch 6/100
23/23 - 0s - loss: 354.5347 - val_loss: 208.3618 - 30ms/epoch - 1ms/step
Epoch 7/100
23/23 - 0s - loss: 245.6667 - val_loss: 171.8045 - 30ms/epoch - 1ms/step
Epoch 8/100
23/23 - 0s - loss: 214.9343 - val_loss: 170.2821 - 29ms/epoch - 1ms/step
Epoch 9/100
23/23 - 0s - loss: 201.7845 - val_loss: 170.5642 - 30ms/epoch - 1ms/step
Epoch 10/100
23/23 - 0s - loss: 192.6282 - val_loss: 168.6056 - 29ms/epoch - 1ms/step
Epoch 11/100
23/23 - 0s - loss: 186.5450 - val_loss: 166.2086 - 30ms/epoch - 1ms/step
Epoch 12/100
23/23 - 0s - loss: 179.7318 - val_loss: 166.6881 - 30ms/epoch - 1ms/step
Epoch 13/100
23/23 - 0s - loss: 175.3685 - val_loss: 165.3525 - 29ms/epoch - 1ms/step
Epoch 14/100
23/23 - 0s - loss: 171.3566 - val_loss: 162.2853 - 30ms/epoch - 1ms/step
Epoch 15/100
23/23 - 0s - loss: 168.1611 - val_loss: 162.9126 - 30ms/epoch - 1ms/step
Epoch 16/100
23/23 - 0s - loss: 165.3238 - val_loss: 159.9565 - 29ms/epoch - 1ms/step
Epoch 17/100
23/23 - 0s - loss: 162.1442 - val_loss: 162.5813 - 29ms/epoch - 1ms/step
Epoch 18/100
23/23 - 0s - loss: 159.5391 - val_loss: 158.6740 - 30ms/epoch - 1ms/step
Epoch 19/100
23/23 - 0s - loss: 157.4986 - val_loss: 158.3371 - 30ms/epoch - 1ms/step
Epoch 20/100
23/23 - 0s - loss: 155.8114 - val_loss: 157.8055 - 30ms/epoch - 1ms/step
Epoch 21/100
23/23 - 0s - loss: 153.5111 - val_loss: 158.5621 - 30ms/epoch - 1ms/step
Epoch 22/100
23/23 - 0s - loss: 151.7797 - val_loss: 156.6952 - 29ms/epoch - 1ms/step
Epoch 23/100
23/23 - 0s - loss: 150.2345 - val_loss: 156.4516 - 30ms/epoch - 1ms/step
Epoch 24/100
23/23 - 0s - loss: 148.6277 - val_loss: 157.7751 - 30ms/epoch - 1ms/step
Epoch 25/100
23/23 - 0s - loss: 147.0004 - val_loss: 155.3630 - 29ms/epoch - 1ms/step
Epoch 26/100
23/23 - 0s - loss: 145.4415 - val_loss: 155.6149 - 30ms/epoch - 1ms/step
Epoch 27/100
23/23 - 0s - loss: 144.5541 - val_loss: 154.5628 - 30ms/epoch - 1ms/step
Epoch 28/100
23/23 - 0s - loss: 143.1642 - val_loss: 155.9511 - 30ms/epoch - 1ms/step
Epoch 29/100
23/23 - 0s - loss: 142.2264 - val_loss: 153.4068 - 30ms/epoch - 1ms/step
Epoch 30/100
23/23 - 0s - loss: 141.1188 - val_loss: 156.6019 - 30ms/epoch - 1ms/step
Epoch 31/100
23/23 - 0s - loss: 139.6768 - val_loss: 156.7778 - 31ms/epoch - 1ms/step
Epoch 32/100
23/23 - 0s - loss: 138.3216 - val_loss: 156.2725 - 31ms/epoch - 1ms/step
Epoch 33/100
23/23 - 0s - loss: 137.6004 - val_loss: 154.5937 - 30ms/epoch - 1ms/step
Epoch 34/100
23/23 - 0s - loss: 136.1570 - val_loss: 155.6454 - 31ms/epoch - 1ms/step
Epoch 35/100
23/23 - 0s - loss: 135.1597 - val_loss: 155.0280 - 30ms/epoch - 1ms/step
Epoch 36/100
23/23 - 0s - loss: 133.9818 - val_loss: 156.2177 - 30ms/epoch - 1ms/step
Epoch 37/100
23/23 - 0s - loss: 133.3331 - val_loss: 154.7002 - 30ms/epoch - 1ms/step
Epoch 38/100
23/23 - 0s - loss: 132.3239 - val_loss: 154.4076 - 29ms/epoch - 1ms/step
Epoch 39/100
23/23 - 0s - loss: 131.3835 - val_loss: 157.1345 - 30ms/epoch - 1ms/step
Epoch 40/100
23/23 - 0s - loss: 130.2801 - val_loss: 154.9991 - 29ms/epoch - 1ms/step
Epoch 41/100
23/23 - 0s - loss: 128.9317 - val_loss: 154.9354 - 29ms/epoch - 1ms/step
Epoch 42/100
23/23 - 0s - loss: 128.0673 - val_loss: 155.1138 - 29ms/epoch - 1ms/step
Epoch 43/100
23/23 - 0s - loss: 127.3594 - val_loss: 154.5021 - 30ms/epoch - 1ms/step
Epoch 44/100
23/23 - 0s - loss: 126.8132 - val_loss: 156.4742 - 31ms/epoch - 1ms/step
Epoch 45/100
23/23 - 0s - loss: 125.0416 - val_loss: 154.0811 - 38ms/epoch - 2ms/step
Epoch 46/100
23/23 - 0s - loss: 124.3370 - val_loss: 154.3461 - 30ms/epoch - 1ms/step
Epoch 47/100
23/23 - 0s - loss: 123.0260 - val_loss: 152.4725 - 31ms/epoch - 1ms/step
Epoch 48/100
23/23 - 0s - loss: 121.9997 - val_loss: 151.2162 - 30ms/epoch - 1ms/step
Epoch 49/100
23/23 - 0s - loss: 120.1626 - val_loss: 151.6449 - 31ms/epoch - 1ms/step
Epoch 50/100
23/23 - 0s - loss: 118.6971 - val_loss: 152.1071 - 31ms/epoch - 1ms/step
Epoch 51/100
23/23 - 0s - loss: 117.3143 - val_loss: 151.3359 - 30ms/epoch - 1ms/step
Epoch 52/100
23/23 - 0s - loss: 115.8448 - val_loss: 148.8842 - 30ms/epoch - 1ms/step
Epoch 53/100
23/23 - 0s - loss: 114.1740 - val_loss: 144.8926 - 30ms/epoch - 1ms/step
Epoch 54/100
23/23 - 0s - loss: 113.0549 - val_loss: 145.5341 - 29ms/epoch - 1ms/step
Epoch 55/100
23/23 - 0s - loss: 110.9383 - val_loss: 144.1830 - 30ms/epoch - 1ms/step
Epoch 56/100
23/23 - 0s - loss: 108.5547 - val_loss: 142.9636 - 30ms/epoch - 1ms/step
Epoch 57/100
23/23 - 0s - loss: 106.6852 - val_loss: 135.5117 - 30ms/epoch - 1ms/step
Epoch 58/100
23/23 - 0s - loss: 104.5078 - val_loss: 140.9089 - 30ms/epoch - 1ms/step
Epoch 59/100
23/23 - 0s - loss: 101.0374 - val_loss: 134.0694 - 30ms/epoch - 1ms/step
Epoch 60/100
23/23 - 0s - loss: 98.8365 - val_loss: 136.4012 - 29ms/epoch - 1ms/step
Epoch 61/100
23/23 - 0s - loss: 96.7086 - val_loss: 133.4090 - 30ms/epoch - 1ms/step
Epoch 62/100
23/23 - 0s - loss: 93.6267 - val_loss: 126.7619 - 29ms/epoch - 1ms/step
Epoch 63/100
23/23 - 0s - loss: 91.3512 - val_loss: 128.5423 - 30ms/epoch - 1ms/step
Epoch 64/100
23/23 - 0s - loss: 87.1866 - val_loss: 121.1537 - 31ms/epoch - 1ms/step
Epoch 65/100
23/23 - 0s - loss: 83.2054 - val_loss: 120.2715 - 31ms/epoch - 1ms/step
Epoch 66/100
23/23 - 0s - loss: 80.4065 - val_loss: 118.4729 - 30ms/epoch - 1ms/step
Epoch 67/100
23/23 - 0s - loss: 76.8211 - val_loss: 121.7280 - 30ms/epoch - 1ms/step
Epoch 68/100
23/23 - 0s - loss: 74.6984 - val_loss: 111.5518 - 30ms/epoch - 1ms/step
Epoch 69/100
23/23 - 0s - loss: 71.5334 - val_loss: 112.6206 - 31ms/epoch - 1ms/step
Epoch 70/100
23/23 - 0s - loss: 68.6506 - val_loss: 110.5806 - 30ms/epoch - 1ms/step
Epoch 71/100
23/23 - 0s - loss: 66.7192 - val_loss: 117.9843 - 30ms/epoch - 1ms/step
Epoch 72/100
23/23 - 0s - loss: 64.5506 - val_loss: 103.0910 - 31ms/epoch - 1ms/step
Epoch 73/100
23/23 - 0s - loss: 61.2314 - val_loss: 109.8176 - 32ms/epoch - 1ms/step
Epoch 74/100
23/23 - 0s - loss: 58.8146 - val_loss: 108.1640 - 33ms/epoch - 1ms/step
Epoch 75/100
23/23 - 0s - loss: 57.2923 - val_loss: 100.4222 - 31ms/epoch - 1ms/step
Epoch 76/100
23/23 - 0s - loss: 55.4821 - val_loss: 103.8302 - 31ms/epoch - 1ms/step
Epoch 77/100
23/23 - 0s - loss: 53.8448 - val_loss: 112.9162 - 29ms/epoch - 1ms/step
Epoch 78/100
23/23 - 0s - loss: 52.3313 - val_loss: 105.6916 - 30ms/epoch - 1ms/step
Epoch 79/100
23/23 - 0s - loss: 50.7663 - val_loss: 101.8938 - 30ms/epoch - 1ms/step
Epoch 80/100
23/23 - 0s - loss: 49.1177 - val_loss: 96.6925 - 31ms/epoch - 1ms/step
Epoch 81/100
23/23 - 0s - loss: 47.6652 - val_loss: 104.8640 - 30ms/epoch - 1ms/step
Epoch 82/100
23/23 - 0s - loss: 46.7082 - val_loss: 101.6623 - 31ms/epoch - 1ms/step
Epoch 83/100
23/23 - 0s - loss: 45.3187 - val_loss: 99.0353 - 32ms/epoch - 1ms/step
Epoch 84/100
23/23 - 0s - loss: 44.7786 - val_loss: 99.9170 - 30ms/epoch - 1ms/step
Epoch 85/100
23/23 - 0s - loss: 43.5204 - val_loss: 95.8918 - 30ms/epoch - 1ms/step
Epoch 86/100
23/23 - 0s - loss: 42.7216 - val_loss: 110.7228 - 29ms/epoch - 1ms/step
Epoch 87/100
23/23 - 0s - loss: 41.8248 - val_loss: 93.0780 - 30ms/epoch - 1ms/step
Epoch 88/100
23/23 - 0s - loss: 41.9539 - val_loss: 110.1481 - 30ms/epoch - 1ms/step
Epoch 89/100
23/23 - 0s - loss: 40.7077 - val_loss: 102.0299 - 29ms/epoch - 1ms/step
Epoch 90/100
23/23 - 0s - loss: 39.9040 - val_loss: 97.4583 - 30ms/epoch - 1ms/step
Epoch 91/100
23/23 - 0s - loss: 39.2337 - val_loss: 103.0839 - 30ms/epoch - 1ms/step
Epoch 92/100
23/23 - 0s - loss: 38.9455 - val_loss: 100.0362 - 30ms/epoch - 1ms/step
Epoch 93/100
23/23 - 0s - loss: 39.7392 - val_loss: 86.4659 - 31ms/epoch - 1ms/step
Epoch 94/100
23/23 - 0s - loss: 39.5968 - val_loss: 103.5579 - 29ms/epoch - 1ms/step
Epoch 95/100
23/23 - 0s - loss: 37.4790 - val_loss: 93.3640 - 31ms/epoch - 1ms/step
Epoch 96/100
23/23 - 0s - loss: 36.6890 - val_loss: 105.1982 - 31ms/epoch - 1ms/step

Epoch 97/100
23/23 - 0s - loss: 36.2663 - val_loss: 97.5294 - 31ms/epoch - 1ms/step
Epoch 98/100
23/23 - 0s - loss: 36.2705 - val_loss: 100.8757 - 30ms/epoch - 1ms/step
Epoch 99/100
23/23 - 0s - loss: 35.9326 - val_loss: 96.3675 - 31ms/epoch - 1ms/step
Epoch 100/100
23/23 - 0s - loss: 35.5409 - val_loss: 88.2256 - 29ms/epoch - 1ms/step